<% include ./partials/header %>

<div class="container">
    
    <!-- JUMBOTRON COMPONENT -->
    
    <div class="jumbotron jumbotron-fluid text-center text-white mb-3">
        <div class="container">
            <h4 class="text-uppercase">Új pálya/spot</h4>
        </div>
    </div>
  
    <!-- NEW SPOT COMPONENT -->  
  
    <form action="/" method="POST" class="mb-5 new-spot-form">
        <div class="form-group">
            <label for="title">Pálya/spot neve</label>
            <input required type="text" class="form-control" id="title" placeholder="Szentbékkálai kőtenger..." name="spot[title]">
        </div>
        <div class="form-group">
            <label for="places-autocomplete">Cím</label>
            <input required type="text" class="form-control" placeholder="Szentbékkála..." name="spot[location][address]" id="places-autocomplete">
            <input hidden required type="text" name="spot[location][lat]" id="location-lat">
            <input hidden required type="text" name="spot[location][lng]" id="location-lng">
        </div>
        <div class="form-group">
            <label for="upload-button">Kép</label>
            <a class="btn btn-outline-dark" id="upload-button" onClick="client.picker(options).open()" href="#">Kép feltöltése/link</a>
            <input hidden required type="text" name="spot[image]" id="image">
            <img hidden id="uploaded-image" class="image-thumbnail d-block">
            <small class="form-text text-muted">
              Egyenlőre sajnos csak egy kép feltöltésére van lehetőség.
            </small>
        </div>
        <div class="form-group">
            <label for="description">Leírás</label>
            <textarea required class="form-control" id="description" name="spot[description]"></textarea>
            <small class="form-text text-muted">
              Bármiféle információ a pályáról/spotról. Pl.: elemek, nehezségi szint, kontakt, megközelítés stb.
            </small>
        </div>
        <div class="form-group">
            <label for="type">Típus</label>
            <select required class="form-control" id="type" name="spot[type]">
                <option value="pálya">pálya</option>
                <option value="spot">spot</option>
            </select>
            <small class="form-text text-muted">
              Pálya ha -> mesterségesen létrehozott pálya triál célra. Spot ha -> nem triál célra létrehozott "spot" pl. egy fal, sziklák, városban pár lépcső stb...
            </small>
        </div>
        <button type="submit" class="btn btn-info">Létrehozás</button>
    </form>
    
</div>

<script>
     
    var autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('places-autocomplete')),
            {types: ['geocode']});
            
            autocomplete.setFields(['formatted_address', 'geometry']);
            autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
  
        var place = autocomplete.getPlace();

        document.getElementById('location-lat').value = place.geometry.location.lat();
        document.getElementById('location-lng').value = place.geometry.location.lng();

    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYDUgmIB7ZbjZ7Tls5qry_Z4kbKKbEF9k&libraries=places&language=hu&region=HU&callback=initAutocomplete" type="text/javascript"></script>
<script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
<script type="text/javascript">
    const client = filestack.init('APsSEGy4TSv6NmmoUYtPyz');
    const options = {
        uploadInBackground: false,
        "fromSources": [
            "local_file_system",
            "url",
            "facebook",
            "instagram"
        ],
        accept: 'image/*',
        onUploadDone: function(result){
            var uploadButton = document.getElementById("upload-button");
            uploadButton.parentNode.removeChild(uploadButton);
            document.getElementById("image").value = result.filesUploaded[0].url;
            document.getElementById("uploaded-image").setAttribute('src', result.filesUploaded[0].url);
            document.getElementById("uploaded-image").removeAttribute("hidden");
        }
    };
</script>

<% include ./partials/footer %>