/*======================
  GLOBAL
  ======================*/

.btn{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}

.jumbotron {
    background-image: url("jumbo-bg-compressed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron hr{
    border-top:2px solid rgba(255,255,255,.5);
    max-width:250px;
}

.jumbotron .text-info{
    color:#65eaff !important;
}

/*======================
  HEADER
  ======================*/ 
  
.nav-item, .nice-text , .new-spot-form label{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-brand{
    font-weight:900;
}

.navbar-toggler{
    border:none;
}

/*======================
  ALL SPOT MAP COMPONENT
  ======================*/ 

#map{
    width:100%;
    height:500px;
}

/*======================
  NEW SPOT COMPONENT
  ======================*/ 

#upload-button{
    display:block;
    max-width:300px;
}

#uploaded-image{
    max-width:200px;
}

/*======================
  SPOT CARD CONTAINER COMPONENT
  ======================*/ 
  
.spot-container .card-img-top{
    min-height:150px;
    max-height:150px;
    overflow-y:hidden;
}

.modal .card-img-top{
    max-height:500px;
}

.spot-container .card-img-top img{
    width:100%;
}
.spot-container .card-title{
    margin-bottom:0;
}

.spot-container .card-text{
    font-size:0.85rem;
}

.modal .close{
    font-size:1rem;
}

/*======================
  SPOT PAGE
  ======================*/
  
.spot-map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

#spot-map{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}  

/*======================
  ALERT COMPONENT
  ======================*/
  
.alert{
    border:none;
}

